@import "color";
@import "font";





.slider{
	background-color:$dark-red;
    //border:solid 2px red;
	margin:0px;
	padding-bottom:40px;
}




.text{
    //border:solid 2px green;
	padding-top:63px;
	padding-left:35px;
	}
.text h1{
	color:$white;
	font-family:$font;
	font-size:50px;
}

.text p{
	color:$grey;
	font-family:$font;
	font-size:16px;
	font-weight:lighter;
}

.text button{
    border:none;
    font-family:$font;
	background-color:$green;
	border-radius:8px;
	color:$white;
	font-size:15px;
	padding-top:9px;
	padding-bottom:7px;
	padding-left:13px;
	padding-right:13px;
	margin-top:5px;
	outline:none;
}	




#circle{
border:solid 20px $grey;
height:380px;
width:380px;
border-radius:200px;
font-family:$font1;
font-size:25px;
color:$white;
background-color:$dark-grey;
cursor:pointer;
outline:none;
margin-left:40px;





}




.carousel-control.left, .carousel-control.right {
background-image: none;
opacity:100;
cursor:default;
background-color:$dark-red;
//border:solid 3px green;
width:120px;

}


.arrow{
	padding-top:190px;
	cursor:pointer;
}


#left{
	
}

#right{
	//padding-right:80px;
}